In [23]:
Text=" I am learning NLP"

In [25]:
# importing the library
import pandas as pd
#generating the features
pd.get_dummies(Text.split())

       I    NLP     am  learning
0   True  False  False     False
1  False  False   True     False
2  False  False  False      True
3  False   True  False     False

In [27]:
text=["i love NLP and i will learn NLP in 2months"]

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer=CountVectorizer() 
vectorizer.fit(text) 
vector=vectorizer.transform(text)

In [32]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2months': 0}
[[1 1 1 1 1 2 1]]

In [34]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [36]:
CountVectorizer

sklearn.feature_extraction.text.CountVectorizer

In [44]:
df=pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out() )
df

   2months  and  in  learn  love  nlp  will
0        1    1   1      1     1    2     1

In [52]:
import nltk 
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [54]:
text='I am learning NLP'

In [58]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in c:\users\pc\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\pc\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\pc\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pc\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\pc\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ---------------------------------------- 624.3/624.3 kB 1.4 MB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.19.0

In [60]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [70]:
Text=["The quick brown fox jumped over the lazy dog","The dog." "The fox"]

In [78]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()
vectorizer.fit(Text)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.40546511 1.         1.         1.40546511 1.40546511 1.40546511
 1.40546511 1.        ]